<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find Simplified_Lidar_Frame)/urdf/Simplified_Lidar_Frame.urdf" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find Simplified_Lidar_Frame)/urdf.rviz" />
</launch>
