<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Simplified_Lidar_Frame">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.025473 0.018501 -6.5991E-05"
        rpy="0 0 0" />
      <mass
        value="0" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Simplified_Lidar_Frame/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Simplified_Lidar_Frame/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Lidar_Link">
    <inertial>
      <origin
        xyz="0.030677 -0.00027683 0.0019308"
        rpy="0 0 0" />
      <mass
        value="0" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Simplified_Lidar_Frame/meshes/Lidar_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Simplified_Lidar_Frame/meshes/Lidar_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Bearing"
    type="revolute">
    <origin
      xyz="0 0 0.045"
      rpy="-0.27934 0 0" />
    <parent
      link="base_link" />
    <child
      link="Lidar_Link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>